// Styles for FormContainerWidget

.form-container-widget {
  .text-super {
    vertical-align: super;
  }
  .text-mandatory {
    font-weight: bold;
    color: red;
  }
  .text-mandatory:hover { cursor: help; }
}

/* popover styles used in forms
=================================================================== */

.fa.fa-question-circle:hover { cursor: help; }
.popover p { margin: 0; }

