// Styles for FormContainerWidget

.form-container-widget {
  .text-super {
    vertical-align: super;
  }
  .text-mandatory {
    font-weight: bold;
    color: red;
  }
  .help-cursor:hover {
    cursor: help;
  }
}

/* popover styles used in forms
=================================================================== */

.popover p { margin: 0; }

